.user-info {
    width: 30%;
    margin: 20px auto 0;
    background: #FFF;
    border-radius: 5px;
    opacity: 0.98;
}

h3 {
    text-align: center;
    background-color: #000;
    color: #FFF;
    width: 100%;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
}

p {
    margin: 15px;
    padding: 5px;
}

p:hover {
    margin: 0;
    padding: 15px;
    width: 100%;
    box-shadow: 2px 1px 5px lightgray;
    transition: all 0.5s;
    border-radius: 5px;
    font-size: 18px;
}

